/* Add the Google Font link in your HTML head */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('bg03.gif') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: rgba(30, 30, 30, 0.7); /* Slightly transparent */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: #e0e0e0;
    backdrop-filter: blur(10px); /* Blur effect */
}

h1, h2 {
    text-align: center;
    color: #72E0FE; /* Updated color */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}

input[type="number"], input[type="text"] {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #333;
    color: #e0e0e0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus, input[type="text"]:focus {
    border-color: #72E0FE; /* Updated color */
    box-shadow: 0 0 8px rgba(114, 224, 254, 0.6); /* Updated color */
    outline: none;
}

input[type="number"]::placeholder, input[type="text"]::placeholder {
    color: #999;
}

span {
    display: flex;
    align-items: center;
    gap: 10px;
}

span label {
    margin: 0;
    font-size: 0.9rem;
    color: #b0b0b0;
}

button {
    padding: 14px;
    background-color: #72E0FE; /* Updated color */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #5ac7f2; /* Darker shade for hover effect */
    transform: scale(1.02);
}

#output {
    margin-top: 30px;
    background: rgba(51, 51, 51, 0.7); /* Slightly transparent */
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #444;
    color: #e0e0e0;
    backdrop-filter: blur(10px); /* Blur effect */
}

.instructions {
    background-color: rgba(30, 30, 30, 0.7); /* Slightly transparent */
    padding: 15px;
    border: 1px solid #333;
    border-radius: 12px;
    margin-bottom: 30px;
    backdrop-filter: blur(10px); /* Blur effect */
}

.instructions p {
    margin: 5px 0;
    font-size: 1.2rem;
}

.instructions ul {
    list-style-type: none;
    padding: 0;
}

.instructions ul li {
    margin-left: 20px;
    font-size: 1rem;
}

.instructions ul li::before {
    content: '•';
    color: #72E0FE; /* Updated color */
    margin-right: 10px;
}
