body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="number"], input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

span {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

span label {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
}

.instructions {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.instructions p {
    margin: 5px 0;
}

.instructions ul {
    list-style-type: none;
    padding: 0;
}

.instructions ul li {
    margin-left: 20px;
}
